<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <title>Autocomplete1</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../assets/css/main.css">
</head>
<body>
  <script id="items-template" type="text/template">
    <ul>
      <% _.each(results, function(result) { %>
      <li><%= result.get('data') %></li>
      <% }); %>
    </ul>
  </script>

  <div class="container">
    <div class="page-header">
      <h1>RxJS Autocomplete example</h1>
      <p class="lead">Example to show combining input events such as keyup with Ajax requests</p>
    </div>
    <div class="row-fluid">
      <form role="form">
        <div class="form-group">
          <label for="textInput">Enter Query for Wikipedia</label>
          <input type="text" id="textInput" class="form-control" placeholder="Enter Query...">
        </div>
      </form>
    </div>
    <div class="row-fluid">
      <div id="results"></div>
    </div>
  </div>
  <script src="../../assets/jquery/jquery-1.11.2.min.js"></script>
  <script src="../../assets/underscore/underscore.js"></script>
  <script src="../../assets/backbone/backbone.js"></script>
  <script src="../../assets/rx/rx.lite.js"></script>
  <script src="autocomplete.js"></script>
</body>
</html>
